	body {
		background-color: #444;
	}
	.controls {
		width: 32px;
		height: 32px;
		padding: 10px;
		border-radius: 50%;
		cursor: pointer;
		background-color: rgba(0,0,0,.2);
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
	.carrousel {
		width: 1100px;
		margin: auto;
		height: 450px;
		margin-top: 120px;
		overflow:hidden;
	}
	.controls:hover {
		background-color: rgba(0,0,0,.5);
	}
	.item {
		width: 335px;
		height: 400px;
		float: left;
		margin-left: 15px;
		margin-top: 20px;
		background-color: #202225;
		color: #fff;
		font-size: 40px;
		text-align: center;
		padding-top: 30px;
		border-radius: 5px;
		cursor: pointer;
	  transition: 1s all;
		/*box-shadow: 0 9px 10px rgba(6,6,7,.3); QUITADO DE MOMENTO*/ 
	}
	.cont {
		position: absolute;
		width: 1100px;
		margin-top: 190px;
	}
	.tapa {
	  width: 12000px;   
		transition: .9s all;
	}
	.item img {
		width: 70px;
		margin-top: 20px;
	}
	.item:hover {
		margin-top: -5px;
	}

